.banner{
    background-image: url("https://images.pexels.com/photos/1267320/pexels-photo-1267320.jpeg?_gl=1*1qydtlv*_ga*MTAzNjc4NDYxLjE3NTQzODI2MzY.*_ga_8JE65Q40S6*czE3NTQzODI2MzYkbzEkZzEkdDE3NTQzODQzODYkajU5JGwwJGgw");
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.cover{
    width: 100%;
    height: 90vh;
    background-color: black;
    opacity: 0.4;
}
 